/* PenTDB CSS */

body {
	background-color: #333;
	color: #ccc;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 13pt;
}

form {
	margin-block-end: 0;
}

a {
	color: #ddd;
}

a:visited {
	color: #bbb;
}
a.hover-link {
	text-decoration: none;
}
a.hover-link:hover {
	color: #e8e8e8;
	text-decoration: underline;
}

/* wrapper for each test in the list of port tests */
.test {
	margin: 40 10 20;
	/*padding-bottom: 20px;*/
}

.test-title {
	font-size: 130%;
	margin-bottom: 5px;
	background-color: #585858;
	padding-left: 10px;
}

.status-empty {
	background-color: #722;
}
.status-completed {
	background-color: #162;
}
.status-in-progress {
	background-color: #d94;
	color: #333;
}

.status-other {
	background-color: #117;
}

.test-cmd, .test-process {
	margin-left: 80px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 11pt;
	padding-right: 20px;
	text-align: right;
}

input.cmd-text {
	background-color: #111;
	color: #eee;
	font-family: Courier;
	border-width: 1px;
	border-color: #888;
    width: -webkit-calc(100% - 150px);
    width:    -moz-calc(100% - 150px);
    width:         calc(100% - 150px);
}
button.cmd-copy {
	background-color: #666;
	color: #fff;
	border-width: 1px;
	border-color: #888;
}

.button-block {
	float: left;
	width: 75px;

}

.red-button, .red {
	background-color: #933;
}
.green-button, .green {
	background-color: green;
}
.orange-button, .orange {
	background-color: orange;
}
.gray {
	background-color: gray;
}
.blue {
	background-color: blue;
}
.yellow {
	background-color: #dd5;
}
.depth-divider {
	width: 2px;
	height: 14px;
	background-color: #446;
	float: left;
	display: block;
	margin: 2px 8px;
}
.clear {
	clear: both;
}

.ip-link {
	clear: both;
	padding-top: 5px;
}

.service-test-status {
	clear: both;
}
.service-test-status .label {
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-left: 20px;
}
.indicator.red, .indicator.green, .indicator.gray {
	color: #fff;
}
.indicator {
	width: 20px;
	height: 18px;
	margin: 4px 2px;
	float: left;
	display: block;
	color: #111;
	text-align: center;
}


.bigform {
	margin-top: 20px;
}
.bigform label {
	width: 200px;
	display:inline-block;
	text-align: right;
}
.bigform input[type="submit"] {
	margin-left: 220px;
	margin-top: 5px;
}

.inlineform {
	margin-left: 100px;
    padding-right: 40px;
    text-align: right;
}
.inlineform input {
	background-color: #222;
	color: #ddd;
	border-color: #555;
}
.inlineform input[type="submit"] {
	width: 120px;
}

.notes-form {
	margin-left: 40px;
    padding-right: 40px;
    text-align: left;
    vertical-align: top;
}
.notes-form textarea {
	background-color: #222;
	color: #ddd;
	border-color: #555;
	vertical-align: top;
	/* these aren't working */
/*	scrollbar-base-color: #555; 
	scrollbar-track-color: #555; 
	scrollbar-color: red yellow;
	scrollbar-color: dark;*/
	/* https://css-tricks.com/the-current-state-of-styling-scrollbars/ */
    width: -webkit-calc(100% - 85px);
    width:    -moz-calc(100% - 85px);
    width:         calc(100% - 85px);
}

.flags-display {
	background-color: #dd5;
	margin: 3px;
	margin-left: 80px;
    line-height: 1.5em;
    padding-left: 3px;
    color: #222;
}

