/* PenTDB CSS */

body {
	background-color: #333;
	color: #ccc;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 13pt;
}

form {
	margin-block-end: 0;
}

a {
	color: #ddd;
}

a:visited {
	color: #bbb;
}
.bluetext a:visited {
	color: #5d5;
}
a.hover-link {
	text-decoration: none;
}
#top a.hover-link {
	text-decoration: none;
	/*color: #5d5;*/
	/*color: #5fa7d2; */
}
a.hover-link:hover, #top a.hover-link:hover {
	color: #e8e8e8;
	text-decoration: underline;
}
.top-ip-addr, .top-ip-addr a {
	color: #5d5;
	font-weight: bold;
	font-size: 1.1em;
	top-padding: -1px;
	line-height: 0.9em
}

h2 {
/*    font-size: 1.25em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-block-end: 0.25em;*/
    font-size: 1.1em;
    font-family: "Courier New", Courier, monospace;
    margin-block-end: 0.55em;
    color: #3b3;
}
h3 {
/*    font-size: 1.1em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-block-end: 0.25em;*/
	font-size: 1em;
    font-family: "Courier New", Courier, monospace;
    margin-block-end: 0.55em;
    color: #3b3;
}

#top {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 75px;
	background-color: #222;
	border-bottom: 1px solid #ccc;
	padding-left: 10px;
	padding-top: 5px;
	color: #5d5;
	font-family: courier, monospace, sarif;
	font-size: 10pt;
}
#top h1, #top .titlespan {
	font-family: courier, monopsace, sarif;
	font-size: 18px;
	font-weight: bold;
	margin-block-start: 0.33em;
    margin-block-end: 0.33em;
    padding-right: 2em;
    color: #5fa7d2;
}
#top h1, #top .titlespan a {
    color: #5fa7d2;
}
#top .session-title {
	font-weight: bold;
	color: #5fa7d2;
}
#top .bluetext {
	color: #5fa7d2;
}
.session-list {
	margin-left: 40px;
	line-height: 1.5em;
}
.session-date {
	font-size: 0.8em;
	color: #888;
	font-style: italic;
}

.bold {
	font-weight: bold;
}
.spacer {
	padding-left: 40px;
}
.bottom-space {
	height: 40px;
}
.top-space {
	padding-top: 5px;
}

#page {
	position: absolute;
	top: 100;
	left: 0;
	/*margin-top: 120px;*/
	padding-left: 10px;
	padding-bottom: 20px;
	min-width: 960px;
	width: 98%;
}
summary.ip-link {
	background-color: #222;
} 

.services-links-bar {
	margin-top: 5px;
}
.ip-service-link a {
	padding: 2px 6px;
	min-width: 80px;
	/*background-color: #555;*/
	color: #5d5;
	text-decoration: none;
}
.ip-service-link a:hover {
	text-decoration: underline;
}

.ip-service-link.highlight a {
	padding: 2px 5px;
	min-width: 80px;
	background-color: #555;
	color: #ccc;
}
.top-ip-addr {
	font-weight: bold;
}
.ip-test-status {
	margin-left: 34em;
    padding-top: 10px;
}
.error-log {
	display: block;
	background-color: #f88;
	color: #000;
	padding: 20px;
}

.top-msg {
	display: block;
	background-color: #777;
	color: #eee;
	padding: 20px;
}

.test-wrapper {
	margin-bottom: 40px;
}
/* fix anchor jumps to stay below the fixed header.
   THANKS https://css-tricks.com/hash-tag-links-padding/ !   */
.test-wrapper::before { 
  display: block; 
  content: " "; 
  margin-top: -90px; 
  height: 90px; 
  visibility: hidden; 
  pointer-events: none;
}

/* this fixes the jump-to (anchor) alignment on all the various places */
form::before { 
  display: block; 
  content: " "; 
  margin-top: -100px; 
  height: 100px; 
  visibility: hidden; 
  pointer-events: none;
}
/* but then we need to fix things in the forms to "lower" */
.button-block {
	padding-top: 100px;
}

/* wrapper for each test in the list of port tests */
.test {
	/*margin: 40 10 20;*/
	/*padding-bottom: 20px;*/
}

.test-title {
	font-size: 130%;
	margin-bottom: 5px;
	background-color: #585858;
	padding-left: 10px;
	padding-top: 5px;
}
.test-table-title {
	font-weight: bold;
}
.test-table-subitem {
	padding-left: 10px;
	color: #999;
}
.tests-table.extra-space td {
	padding: 5px;
}
.test-form-title {
    font-size: 1.1em;
    font-family: "Courier New", Courier, monospace;
    /*margin-block-end: 0.55em;*/
    color: #3b3;
	margin-bottom: 5px;
	background-color: #585858;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.status-empty {
	/*background-color: #722;*/
	background-color: #111;
}
.status-completed {
	background-color: #162;
}
.status-negative {
	background-color: #933;
}
.status-in-progress {
	background-color: #d94;
	color: #333;
}
.status-in-depth {
	background-color: #32e;
	color: #ddd;
}
.status-flagged {
	background-color: #cd5;
	color: #333;
}
.status-other {
	background-color: #117;
	color: #333;
}

.test-cmd, .test-process {
	margin-left: 135px;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 11pt;
	padding-right: 20px;
	text-align: right;
	width: 80%;
}
.test-cmd-form {
    width:100%;
    text-align: center;
}
.test-cmd-form label,
.test-cmd-form input,
.test-cmd-form button {
	display: inline-block;
	font-family: "Lucida Console", Monaco, monospace;
}

input.cmd-text {
	background-color: #111;
	color: #eee;
	font-family: Courier;
	border-width: 1px;
	border-color: #888;
    width: -webkit-calc(100% - 150px);
    width:    -moz-calc(100% - 150px);
    width:         calc(100% - 150px);
}

.test-cmd-form input.cmd-text {
    width: -webkit-calc(100% - 350px);
    width:    -moz-calc(100% - 350px);
    width:         calc(100% - 350px);
}
button.cmd-copy {
	background-color: #666;
	color: #fff;
	border-width: 1px;
	border-color: #888;
}

.button-block {
	float: left;
	width: 75px;

}

.gold-star {
	color: #ec5;
}
.red-star {
	color: #d33;
}
.green-star {
	color: green;
}

.red-button, .red, .statusform input.red-button {
	background-color: #933;
}
.green-button, .green, .statusform input.green-button {
	background-color: green;
}
.orange-button, .orange, .statusform input.orange-button {
	background-color: orange;
	color: #333;
}
.gray {
	background-color: gray;
}
.blue-button, .blue, .statusform input.blue-button {
	background-color: blue;
	border-width: 2px;
	border-color: #555;
	color: #eee;
}
.indicator.blue {
	color: #eee;
}
.yellow {
	background-color: #dd5;
}
.depth-divider {
	width: 2px;
	height: 14px;
	background-color: #446;
	float: left;
	display: block;
	margin: 2px 8px;
}
.clear {
	clear: both;
}
.hideme {
    width: 10px;
    /* float: left; */
    position: absolute;
    x: 0;
}
.sql-copy {
    position: absolute;
	x: 0;
    background-color: #222;
    color: #aaa;
    border-color: #444;
}

.ip-link {
	clear: both;
	padding-top: 5px;
	padding-left: 20px;
	font-family: "Courier-New", monospace;
	font-size: 0.85em;
	line-height: 1.4em;
}
.host-status {
    min-width: 12em;
    display: inline-block;
    text-align: right;
}
.host-points {
    min-width: 6em;
    display: inline-block;
    text-align: right;
    font-style: italic;
    font-size: 0.9em;
    color: #7e8;
}
.host-ip {
    min-width: 10em;
    display: inline-block;
}
.host-name {
    min-width: 10em;
    display: inline-block;
}
.host-spots {
    display: inline-block;
}
.host-info {
	font-family: Courier, monospace;
	font-size: 0.85em;
	padding-bottom: 10px;
	margin-left: 20px;
	font-style: italic;
}

.vulns-links-bar {
	margin-left: 90px;
	padding-top: 5px;
    display: inline-block;
}
.service-test-status, .service-vuln-status {
	clear: both;
}
.service-test-status .label {
	display: inline-block;
	float: left;
	margin-right: 10px;
	margin-left: 20px;
	width: 180px;
    text-align: right;
    color: #3c3;
}

.service-vuln-status .indicator {
	/*margin-left: 220px;*/
	margin-right: 5px;
    font-size: 1.2em;
}	
.service-vuln-status .indicator.green {
	background-color: #0a0;
}
.indicator.red, .indicator.green, .indicator.gray {
	color: #eee;
}
.indicator {
	width: 20px;
	height: 18px;
	margin: 4px 2px;
	float: left;
	display: block;
	color: #111;
	text-align: center;
}

summary.ip-link .indicator {
	width: 16px;
	height: 14px;
	margin: 4px 2px;
	float: left;
	display: block;
	color: #111;
	text-align: center;
}

.service-vuln-status .indicator {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
}
.indicator.selected {
	box-shadow: 1px 3px 7px #fff;
}
.obj-dot.selected {
	text-shadow: 1px 1px 4px #ccc;
}
.vuln-eliminated {
	background-color: #000;
	color: red;
}
.vuln-eliminated::after {
	content: "X";
	line-height: 1.3em;
}
.vuln-unstable {
	background-color: #f84;
	color: red;
}
.vuln-unlikely {
	background-color: #44A;
}
.vuln-possible {
	background-color: #48a;
}
.vuln-match {
	background-color: #eb2;
}
.vuln-worked {
	background-color: #3f3;
}

.objectives-links-bar, .objective-status {
	float: left;
    display: inline-block;
}
.objective-status a {
	font-size: 2em;
	float: left;
	text-decoration: none;
	padding-right: 3px;
}


.bigform {
	/*margin-top: 20px;*/
	border-bottom: 1px solid #555;
    padding-bottom: 10px;
}
.bigform label {
	width: 200px;
	display:inline-block;
	text-align: right;
}
.bigform input[type="submit"] {
	margin-left: 220px;
	margin-top: 5px;
}
.bigform input[type="text"] {
	width: 50%;
/*	background-color: #444;
	border-color: #555;
	color: #eee;*/
}

input, select {
	background-color: #444;
	border-color: #555;
	/*border-width: 1px;*/
	color: #eee;
}

.inlineform {
	margin-left: 100px;
    padding-right: 40px;
    text-align: right;
}
.inlineform.vuln select {
	padding-right: 70%;
    background-color: #222;
    color: #eee;
}
.inlineform input, .statusform input {
	background-color: #222;
	color: #ddd;
	border-color: #555;
}
.inlineform.vuln input, .inlineform.objective input, .inlineform.host input,
	.inlineform.test input, .inlineform.test select, .inlineform input[type="text"] {
	width: 60%;
}
.inlineform input[type="submit"] {
	width: 120px;
}
.inlineform.taform input[type="submit"] {
    float: right;
    margin-right: 10%;
}
.inlineform.test select {
	/*color: green;*/
}
.inlineform.test label {
	/*float: left;
    margin-left: 200px;*/
}

.notes-form, .discovered-form, .raw-result-form, .taform, .info-form {
	margin-left: 40px;
    padding-right: 40px;
    text-align: left;
    vertical-align: top;
    margin-top: 1.5em;
}
.taform {
	margin-left: 140px;
	margin-bottom: 10px;
}
.notes-form textarea, .host textarea, .objective textarea, .vuln textarea,
.discovered-form textarea, .raw-result-form textarea, .taform textarea, .info-form textarea {
	background-color: #222;
	color: #ddd;
	border-color: #555;
	vertical-align: top;
	/* these aren't working */
/*	scrollbar-base-color: #555; 
	scrollbar-track-color: #555; 
	scrollbar-color: red yellow;
	scrollbar-color: dark;*/
	/* https://css-tricks.com/the-current-state-of-styling-scrollbars/ */
    width: -webkit-calc(100% - 85px);
    width:    -moz-calc(100% - 85px);
    width:         calc(100% - 85px);
}

#add-test-form textarea 
, .inlineform.test textarea
 {
	background-color: #444;
	color: #ddd;
	border-color: #555;
	vertical-align: top;
	width: 50%;
}
.inlineform.test textarea, .inlineform.test select {
	width: 69%;
}

#test-service-filter select, #test-port-filter select {
	width: 12em;
}

#test-service-filter label, #test-port-filter label {
	width: 100px;
	display:inline-block;
	text-align: right;
}

.delete-confirm-form {
	padding: 20px;
}

.flags-display {
	background-color: #dd5;
	margin: 3px;
	margin-left: 80px;
    line-height: 1.5em;
    padding-left: 3px;
    color: #222;
}

a.link-button {
	border: 1px solid #777;
	background-color: #999;
	padding: 3px 8px;
	text-decoration: none;
	color: #111;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
	-khtml-border-radius: 4px; /* for old Konqueror browsers */
}
a.link-button:hover {
	border-color: #eee;
	text-decoration: underline;
	box-shadow: 1px 1px 5px #aaa;
}

.quicklink a {
	text-transform: uppercase;
	font-size: 0.8em;
	padding-right: 10px;
	text-decoration: none;
	letter-spacing: -0.5px;
    color: #999;
}
.quicklink a:hover {
	text-decoration: underline;
}
.quicklink a::before {
	content: '[ ';
}
.quicklink a::after {
	content: ' ]';
}

.display-watchfile {
    margin-left: 140px;
    font-size: 0.8em;
    background-color: #222;
    padding: 15px;
    text-align: left;
}

.tests-table {
	margin: 20px;
	text-align: left;
    font-family: Times New Roman, monospace;
    /*font-size: 1em;*/
    border-spacing: 1px;
}

.tests-table td, .tests-table th {
    border: 1px solid #777;
    padding: 3px 8px;

}

.tests-table tr.even {
	background-color: #222;
}

.tests-table th {
	background-color: #999;
	font-size: 1.1em;
	color: #111;
}
.tests-table th a {
	color: #111;
}

.discoveries-section {
	margin-left: 40px;
	font-size: 12pt;
}
.discoveries-item {
    padding-bottom: 10px;
    line-height: 1.2em;
    font-family: Courier, monospace;
    text-indent: 20px each-line;
    padding-left: 4em;
}
.discoveries-item a {
	margin-left: -4em;
}

.top-notes {
	padding-bottom: 10px;
	/*font-size: 1em;*/
	font-style: italic;
}